DISCORD_TOKEN=YOUR_DICORD_TOKEN
GUILD_ID=SERVER_GUID
SUPPORT_CHANNEL=ID_SUPPORT_CHANNEL
GITHUB_TOKEN=YOUR_GITHUB_TOKEN
GITHUB_REPO=organization/repo
PORT=PORT_OF_NODE.JS_(DEFAULT:_3000)
BUG_REPORT_CHANNEL_ID=BUG_REPORT_CHANNEL_ID
ROLE_CHANNEL_ID=ROLE_CHANNEL_ID
