DISCORD_TOKEN=YOUR_DICORD_TOKEN
GUILD_ID=SERVER_GUID
SUPPORT_CHANNEL=ID_SUPPORT_CHANNEL
GITHUB_TOKEN=YOUR_GITHUB_TOKEN
GITHUB_REPO=organization/repo
PORT=3000
ADMIN_PANEL_PORT=3001
BUG_REPORT_CHANNEL_ID=BUG_REPORT_CHANNEL_ID
ROLE_CHANNEL_ID=ROLE_CHANNEL_ID
WELCOME_CHANNEL_ID=WELCOME_CHANNEL_ID
DISCORD_CLIENT_ID=DISCORD_CLIENT_ID
DISCORD_CLIENT_SECRET=DISCORD_CLIENT_SECRET
DISCORD_REDIRECT_URI=https://localhost:4001/auth/discord/callback
PANEL_ADMIN_ROLE_ID=PANEL_ADMIN_ROLE_ID
TICKET_CHANNEL_ID=TICKET_CHANNEL_ID
DATA_BUG_CHANNEL_ID=DATA_BUG_CHANNEL_ID